/*******************************************************************************
 * Color scheme.
 ******************************************************************************/
:root {
    --lightgray: #eee;
    --mediumgray: #c0c0c0;
    --anthracite: #333;
}

/*******************************************************************************
 * Normalisation.
 ******************************************************************************/

.controller-workloads table th, table td {
  padding: 0;
}

/*******************************************************************************
 * Styles for the filter form.
 ******************************************************************************/

.controller-workloads .filters > div,
.controller-workloads .filters .apply {
    margin-top: 8px;
}

.controller-workloads .filters .apply {
    display: inline-block;
}

legend {
    color: var(--anthracite);
}

.controller-workloads .wrapper {
    margin-top: 30px;
}

.controller-workloads .users select,
.controller-workloads .groups select {
	width: 300px;	
	height: 150px;
}
/*******************************************************************************
 * Styles for the header of workload table.
 ******************************************************************************/

.controller-workloads .data .workload_hdr {
    background-color: var(--lightgray);
    border: 1px solid var(--mediumgray);
}

/* Column width if no data is displayed */
.controller-workloads .data .day-of-month,
.controller-workloads .data .day-of-week {
    min-width: 25px;
    font-size: 0.8em;
}

/* Month names */
.controller-workloads .data .month-name {
    border-left: 1px solid var(--mediumgray);
    border-top: 1px solid var(--mediumgray);
}

.controller-workloads .data .month-name:last-child {
    border-right: 1px solid var(--mediumgray);
}

/* Num of week */
.controller-workloads .data .num-of-week.first-day-of-week {
    border-left: 1px solid var(--mediumgray);
}

.controller-workloads .data .num-of-week.last-day-of-week {
    border-right: 1px solid var(--mediumgray);
}


/* Day of month */
.controller-workloads .data .day-of-month.firstDayOfMonth,
.controller-workloads .data .day-of-month:first-child {
    border-left: 1px solid var(--mediumgray);
}

.controller-workloads .data .day-of-month:last-child {
    border-right: 1px solid var(--mediumgray);
}

/* Day of week */
.controller-workloads .data .day-of-week.firstDayOfWeek,
.controller-workloads .data .day-of-week:first-child {
    border-left: 1px solid var(--mediumgray);
}

.controller-workloads .data .day-of-week:last-child {
    border-right: 1px solid var(--mediumgray);
}


/*******************************************************************************
 * Styles for the workload table.
 ******************************************************************************/

.controller-workloads .wrapper {
    overflow-x: auto;
}

.controller-workloads .data {
    table-layout: fixed;
    border-spacing: 0 3px;
    border-collapse: collapse;
}

.controller-workloads .data th {
    font-weight: initial;
}

/*------------------------------------------------------------------------------
 * Styles for the stuff that may be shown or hidden.
 -----------------------------------------------------------------------------*/
.controller-workloads .data .project-total-workload,
.controller-workloads .data .issue-workloads,
.controller-workloads .data .additional-user-info,
.controller-workloads .data .additional-project-info,
.controller-workloads .data .invisible-issues-summary {
	display: none;
}

.controller-workloads .data .trigger {
	display: inline-block;
	cursor: default;
	text-align: center;
    font-size: 0.9em;
    margin-right: 4px;
}

/*------------------------------------------------------------------------------
 * Table heads on the left side.
 -----------------------------------------------------------------------------*/
.controller-workloads .data .user-description,
.controller-workloads .data .project-description,
.controller-workloads .data .issue-description,
.controller-workloads .data .invisible-workload-description {
    text-align: left;
    border-left: 1px solid var(--mediumgray);
    border-right: 1px solid var(--mediumgray);
}

.controller-workloads .data .user-description {
    padding-left: 10px;
    width:     300px;
    min-width: 300px;
    max-width: 300px;
}

.controller-workloads .data .project-description {
	padding-left: 15px;
    width:     300px;
    min-width: 300px;
    max-width: 300px;
}

.controller-workloads .data .issue-description,
.controller-workloads .data .invisible-workload-description {
    padding-left: 20px;
    width:     300px;
    min-width: 300px;
    max-width: 300px;
}

.controller-workloads .data .invisible-workload-description {
    font-size: 1em;
}

.controller-workloads .data .additional-user-info,
.controller-workloads .data .additional-project-info {
    font-size: 0.9em;
	font-weight: normal;
	margin-left: 30px;
}

.controller-workloads .data .additional-user-info dt,
.controller-workloads .data .additional-project-info dt {
	float: left;
	clear: left;
	width: 200px;
}

.controller-workloads .data .additional-user-info dd,
.controller-workloads .data .additional-project-info dd {	
	margin-left: 210px;
}

/*------------------------------------------------------------------------------
 * Real table data
 -----------------------------------------------------------------------------*/
.controller-workloads .tooltip span.tip {
    top: 20px;
}

.controller-workloads td.hours {
    font-weight: normal;
}

.controller-workloads .data tr td:last-child {
    border-right: 1px solid var(--mediumgray);
}

.controller-workloads .data tr:last-child td,
.controller-workloads .data tr:last-child th {
    border-bottom: 1px solid var(--mediumgray);
}

.controller-workloads .data .user-total-workload {
    background-color: #F6F7F8;
}

.controller-workloads .data .issue-workload.odd {
    background-color: #F6F7F8;
}

.controller-workloads .data .issue-workload.odd.overdue {
    background-color: #ecb4b4;
}

.controller-workloads .data .issue-workload.even {
    background-color: white;
}

.controller-workloads .data .issue-workload.even.overdue {
    background-color: #f8d0d0;
}

.controller-workloads .data .issue-workload:hover,
.controller-workloads .data .user-total-workload:hover,
.controller-workloads .data .project-total-workload:hover{
    background-color: #D7D7D7!important;
}

.controller-workloads .data td {
    padding: 0;
    font-size: .8em;
    line-height: 1;
    text-align: center;
    width: 25px;
    min-width: 25px;
}

.controller-workloads .data .today {
    border-left: 2px solid red;
    padding-left: 2px;
    margin-left: 2px;
}

/* Styling of the spans in the table */
.controller-workloads .data .hours span {
    display: block;
    padding-top: .6em;
    padding-bottom: .3em;
    height: 1em;
    color: white;
}

.controller-workloads .data .hours.none span {
    color: var(--anthracite);
}

.controller-workloads .data .none span {
    background: transparent;
}

.controller-workloads .data .active span {
    background-color: rgba(200, 200, 200, 0.5);
}

.controller-workloads .data .low span {
    background: green;
}

.controller-workloads .data .normal span {
    background: yellow;
    color: var(--anthracite);
}

.controller-workloads .data .high span {
    background: red;
}

.controller-workloads .data .holiday {
   background-color: var(--lightgray);
   border-left: 1px solid var(--mediumgray);
   border-right: 1px solid var(--mediumgray);
}

.controller-workloads .data .holiday span {
    display: none;
}

.controller-workloads .data .active.holiday span {
    background-color: transparent;
}
